[user]
	name = soychicka
	email = soychicka@gmail.com
[mergetool "FileMerge"]
	cmd = filemerge
	trustExitCode = true
[merge]
	tool = FileMerge
[mergetool "filemerge"]
	cmd = filemerge
	trustExitCode = true

  [color]
    ui = auto
  [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
  [color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
  [color "status"]
    added = yellow
    changed = green
    untracked = cyan

  [color]
    ui = true
  [color "diff"]
    whitespace = red reverse
  [core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	editor = mate -w

[github]
	user = soychicka
